
<h1>Edit post:</h1>

<hr>
<%= form_for @post do |f|  %>
  <div>
    <%= f.label :title  %>
    <%= f.text_field :title  %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.submit  %> 
  </div>
<% end %>

