

<h1>Create a NEW blog post:</h1>

<hr>
<%= form_for @post do |f|  %>
  <div>
    <%= f.label :title  %>
    <%= f.text_field :title  %>
  </div>
  <div>
    <%= f.label :body  %>
    <%= f.text_field :body  %>
    <%# Because of the @post spec in the 'form_for', submit will trigger a POST action  %>
    <%= f.submit  %> 
  </div>
<% end %>


