<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <li role="presentation"><%= link_to "Home", root_path, style: "color:turquoise" %></li>
      <li role="presentation"> <%= link_to "About", about_path, style: "color:turquoise" %></li>
      <li role="presentation"> <%= link_to "Show All Posts", posts_path, style: "color:turquoise" %></li>
      <li role="presentation"> <%= link_to "Create New Post", new_post_path, style: "color:turquoise" %></li>
      <li role="presentation"> <%= link_to "Show All Comments", comments_path, style: "color:turquoise" %></li>
      <li role="presentation"> <%= link_to "Create New Comment", new_comment_path, style: "color:turquoise" %></li>
  </ul>
  </div>
</nav>
