<!DOCTYPE html>
<html>
<head>
  <title>The Blog Project</title> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "/layouts/nav"  %>


<%= yield %>
<% if flash[:notice]  %>
  <div role="alert"><%= flash[:notice]  %></div>
<% elsif flash[:alert]  %>
  <div role="alert"><%= flash[:alert]  %></div>
<% end %>
<% if @post  %>
  <% if @post.errors.any? %>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
<% if @comment%>
  <% if @comment.errors.any? %>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
</body>
</html>
