<!DOCTYPE html>
<html>
<head>
  <title>The Blog Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Home", root_path, style: "color:turquoise" %>
    <%= link_to "About", about_path, style: "color:turquoise" %>
    <%= link_to "Show All Posts", posts_path, style: "color:turquoise" %>
    <%= link_to "Create New Post", new_post_path, style: "color:turquoise" %>
    <%= link_to "Show All Comments", comments_path, style: "color:turquoise" %>
    <%= link_to "Create New Comment", new_comment_path, style: "color:turquoise" %>
  </nav>

<%= yield %>
<% if flash[:notice]  %>
  <div role="alert"><%= flash[:notice]  %></div>
<% elsif flash[:alert]  %>
  <div role="alert"><%= flash[:alert]  %></div>
<% end %>
<% if @post  %>
  <% if @post.errors.any? %>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
<% if @comment%>
  <% if @comment.errors.any? %>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
</body>
</html>
